{
    "name" : "wi-fi 5",
    "descr": "",
    "freq_ranges" : [ 
        {
           "beg_freq" : "5180000000",
           "end_freq" : "5240000000"
        },
        {
           "beg_freq" : "5745000000",
           "end_freq" : "5825000000"
        }
     ]
}
